/**ion-fab-button {
    height: 50px;
    width: 50px; 
    color: #ff9f22;     
  }
   .cart-icon {
    font-size: 30px;    
  }
  
  .cart-length {
    color: #ff9f22;
    position: absolute;
    top: 13px;
    left: 10px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }*/

  ion-fab-button1 {
    height: 70px;
    width: 70px; 
    color: #ff9f22;     
  }
   .cart-icon1 {
    font-size: 40px;    
  }
  
  .cart-length1 {
    color: #ff9f22;
    position: absolute;
    top: 6px;
    left: 10px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }
