<ion-header [translucent]="true">   
  <ion-toolbar color="tertiary">
    <!--<ion-buttons slot="start">      
     <ion-menu-button></ion-menu-button>
   </ion-buttons>/-->     
   <ion-title>Recuperar Contraseña</ion-title>

<!-- Back button with a default href -->
<ion-buttons slot="end">
  <ion-back-button routerLink='/login' default-href="login"></ion-back-button>
  <ion-title routerLink='/login'>Back</ion-title> 
</ion-buttons>

 </ion-toolbar>
</ion-header>

<ion-content>  
  <img class="icon" src="assets/icon/Logo.png">  

  <form class = 'ion-paddin-top'>
    
    <div class="ion-text-center">
      <br>
      <p>Escriba su correo para recuperar la contraseña</p>
    </div>
    <ion-item> 
       <ion-input type= "text" [(ngModel)]="email" placeholder= "Ingrese su correo electrónico" name="email"></ion-input>
    </ion-item>
  </form>
  <br>
  <br>
    <ion-button class="botoninicio" color="tertiary" (click)="OnsendLinkReset(email)">Recuperar</ion-button>  
  
  
</ion-content> 